.dropdown-menu {
    background: blue;
    width: 200px;
    position: absolute;
    top: 80px;
    list-style: none;
    text-align: start;
  }

  .test {
    background: gray;
    /* width: auto;    */
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 25px;
    z-index: 100;
    list-style-type: none;
    padding: 0px;
    text-align: center;
    border-top: solid 0.125rem #0092CA;
  }
  
  .test li {
    /* background: #1888ff; */
    cursor: pointer;
  }



  .nav-link {
    text-decoration: none;
  }
  .test.clicked {
    display: none;
  }
  
  .dropdown-link {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: black;
    padding-left: 8px;
    text-align: start;
  }
  
  @media screen and (max-width: 769px) {
    .fa-caret-down {
      display: none;
    }
  }
