.product-img-card {
    width: calc(100% + 50px);
    margin-left: -25px;
    height: 160px;
    margin-top: -20px;
}

.product-img-card img {
    height: 100%;
    width: 100%;
    object-fit: fill;
}

.product-header-card {
    align-self: center;
    text-align: center;
}

.product-list-container {
    display: flex;
    width: 100%;
    max-width: 1050px;
    flex-direction: column;
    margin: 0 auto;
}

.product-list-container .search-bar {
    padding: 0px !important;
}
.product-list {
    flex-direction: row;
    justify-content: space-between;
    margin: 40px auto;
    flex-wrap: wrap;
    padding: 0;
    min-height: 350px;
    height: auto;
    max-height: 700px;
    overflow-y: scroll;
    display: flex;
    width: 100%;

}

.product-img-size {
    height: 150px;
    width: 150px;
}

.product-tools-container {
    width: 100%;
}

.product-tools {
    width: 100%;
    max-width: 900px;
    margin: 10px auto;
    display: flex;
    justify-content: flex-start;
}

.product-tools-title {
    font-weight: bold;
    margin-right: 10px;
}

.add-new-button i {
    color: white;
}

.add-new-button-link {
    color: white;
}

.add-new-button {
    width: 130px;
    text-decoration: none;
}