.user-list {
    display: flex;
    width: 100%;
    max-width: 950px;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
    padding: 0;
    min-height: 350px;
    height: auto;
    /* max-height: 700px;
    overflow-y: scroll; */
    border: 1px 0px 1px 0px solid rgba(0,0,0,.125);
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.3);
}