.page-builder-page-selection .bp5-button, 
.page-builder-page-selection .bp5-menu {
  background-color: #30404D !important;
}
.sideBar {
  flex: 0 0 1;
  width: 250px;
  padding: 10px;
  border-right: 1px solid #111;
  height: 100%;
  color: white;
  background-color: #2F343C !important;
  min-height: 600px;
  display: flex;
  flex-direction: column;
}

.sideBarItem {
  border-radius: 3px;
  height: 30px;
  padding: 10px;
  margin-top: 10px;
  background-color: #404854;
  border: 1px solid gray;
}

.page-editor {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.page-editor-area {
  display: flex;
}

.page-editor .top-bar {
  padding: 10px;
  border: 1px solid gray;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-editor .page-info {
  display: flex;
}

.page-editor .page-info .bp5-form-group {
  margin: 0 5px;
}

.page-editor .top-bar .bp5-button-group {
  height: 30px;
}

.page-editor .top-bar .save-button {
  background-color: green;
}
.page-editor .top-bar svg {
  color: white;
}
.page-editor .top-bar .revert-button {
  background-color: red;
}

.page-editor .top-bar .revert-button:disabled,
.page-editor .top-bar .save-button:disabled {
  background-color: gray;
}

.dropZone {
  flex: 0 0 auto;
  height: 40px;
  transition: 200ms all;
}

/* .dropZone:nth-of-type(2n) {
  display: none;
} */

.dropZone.horizontalDrag {
  width: 40px;
  height: auto;
}

.dropZone:not(.horizontalDrag).isLast {
  flex: 1 1 auto;
}

.dropZone.active,
.trashDropZone.active {
  background: #00a2ff;
  transition: 100ms all;
}


.columns {
  display: flex;
}

.columnContainer {
  display: flex;
}


.trashDropZone {
  position: relative;
  text-align: center;
  padding: 20px 0;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  border: 1px solid purple;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pageContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  overflow-y: scroll;
  min-height: 600px;
  max-height: 600px;
}

.page-menu {
  display: flex;
  justify-content: end;
}

.page-menu .bp5-menu {
  background-color: #404854;
  color: white !important;
}
.page-menu .bp5-button {
  background-color: #2F343C !important;
}

.page-menu .bp5-button span {
  color: white !important;
}
.pageContainer {
  position: relative;
}

.editor-tree .bp5-tree {
  max-height: 130px;
  background-color: #404854;
  overflow-y: scroll;
}
.dropZone.horizontalDrag {
  width:5px;
}

.dropZone.horizontalDrag.active {
  width: 30px;
}

.dropZone.verticalDrag {
  height:5px;
}

.dropZone.verticalDrag.active {
  height: 30px;
}

.page {
  padding: 0px;
}

.base {
  padding: 0px;
}

.component {
  border-width: 1px;
  border-style: dashed;
  border-color: black;
  background-color: grey;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  cursor: "move";
  height: 60px;
  width: 100%;
}

.column {
  flex: 1 1 100%;
  border-width: 1px;
  border-style: solid;
  border-color: blue;
  background-color: grey;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  cursor: "move";
  height: 100%;
  width: 100%;
}


.row {
  border-width: 1px;
  border-style: solid;
  border-color: red;
  background-color: grey;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  cursor: "move";
  height: 100%;
  width: 100%;
}


/* .page {
  flex: 1 1 auto;
  border-width: 2px;
  border-style: solid;
  border-color: green;
  background-color: rgb(237, 242, 246);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background-image: linear-gradient(to right, rgb(217, 226, 233) 1px, transparent 1px), linear-gradient(rgb(217, 226, 233) 1px, transparent 1px);
  background-size: 20px 20px;
} */


.previewed {
  border: 3px solid blue !important;
}

.hide-grid {
  background-image: unset !important;
}

.show-drop-color {
  border: 1px dashed black;
  background-color: blue;
  opacity: .2;
}

.hide-dragdrop {
  display: none;
}