.App {
  text-align: center;
}

.header img {
  height: 100%;
  width: auto;
  object-fit: cover;
  padding: 5px 0px;
}

.header,
.footer {
  height: 100%;
}

.header-nav {
  border-bottom: 1px solid lightblue;
  background-color: #050315 !important;
}

.footer-nav {
  height: 120px !important;
  border-top: 1px solid lightblue;
  background-color: #050315 !important;
  display: flex;
  flex-wrap: wrap;
}

.footer-nav .bp5-navbar-group {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: start;
  width: 100%;
  padding-top: 15px;
  color: darkgray !important;
  margin: 0 auto;
  max-width: 1050px;
}

.footer-nav .bp5-button {
  background: unset !important;
}
.App-link {
  color: #61dafb;
}

.page-builder {
  height: 100%;
}

.page-builder-drop-window {
  flex: 1;
}

.bp5-vertical>.bp5-tab-list {
  border-right: 2px solid gray;
  margin-top: 25px;
}

.page-builder .bp5-card {
  background-color: #30404D !important;
  border: 2px solid gray;
}

.post-manager .bp5-tab-list {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.post-manager .bp5-tab-list div {
  color: white;
}

.post-manager {
  height: 100%;
}

.post-managerr-drop-window {
  flex: 1;
}

.bp5-vertical>.bp5-tab-list {
  border-right: 2px solid gray;
  margin-top: 25px;
}

.post-manager .bp5-card {
  background-color: #30404D !important;
  border: 2px solid gray;
}

.post-manager.bp5-tab-list {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.post-manager .bp5-tab-list div {
  color: white;
}


.content {
  display: flex;
  flex: 1;
}

.toolbox {
  width: 200px;
  border-left: 2px solid gray;
  height: 100%;
  min-height: 100%;
  padding: 0px 10px;
}

.toolbox-field {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  cursor: pointer;
  user-select: none;
  margin-top: 10px;
}

.toolbox-field.overlay {
  background: black;
  color: white;
}

.components-toolbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.canvas {
  flex: 1;
  border: 1px dashed gray;
  margin: 0px 10px;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  overflow-y: auto;
  min-height: 100%;
  background-color: #30404D !important;
}

.canvas-field {
  padding: 15px;
}

.canvas-field.overlay {
  opacity: 0.5;
}

.canvas-field>* {
  width: 100%;
  pointer-events: none;
}

.spacer {
  background: black;
  width: 100%;
  opacity: 0.25;
  height: 100px;
}

.bp5-button span {
  color: white;
}

.text-dark-blue {
  color: var(--dark-blue);
}

.bp5-menu-header>h6 {
  color: gray !important;
}

.settings-menu-item div {
  text-align: end;
}

.settings-menu {
  margin-left: 200px;
}

.content {
  height: 100%;
}

.overlay-container {
  height: 100%;
  z-index: 20;
  width: 100%;
  background-color: #1C2127;
  color: #ffffff;
  height: 100%;
  max-height: 800px;
  border: 2px solid gray;
  padding: 10px 30px 40px 30px;
  max-width: 1300px;
  position: relative;
  margin: 50px auto;
  border-radius: 5px;
  width: 80%;
}

.bp5-navbar-group {
  height: 59px;
}

.close-button {
  width: auto;
  height: auto;
  position: absolute;
  right: 10px;
}

.toolbox h4 {
  text-align: center;
}

.bp5-form-content {
  width: 100%;
}

/* .bp5-table-quadrant-main .bp5-table-cell-client {
  background-color: #404854;
  color: white;
} */

.custom-table-column.bp5-table-cell {
  background-color: #252A31;
  color: white;
}

.custom-table-column.bp5-table-header {
  background-color: #404854;
  color: white;
}

.bp5-table-row-headers-cells-container {
  background-color: #404854;
  color: white;
}

.bp5-table-selection-enabled .bp5-table-header:hover::before,
.bp5-table-header.bp5-table-header-active::before {
  background-color: #2F343C !important;
  color: white;
}

.bp5-table-menu {
  background-color: #404854 !important;
  color: white;
}




.page-builder-page-selection {
  height: 100%;
  max-width: 800px;
  position: relative;
  margin: 50px auto;
}

.page-builder-pages-container {
  background-color: #404854;
  border: 1px solid gray;
  display: flex;
  border-radius: 5px;
  height: 100%;
  padding: 20px;
  min-height: 80vh;
}

.page-preview-block {
  width: 150px;
  height: 200px;
  margin-right: 10px;
  background-color: #2F343C !important;
  border: 1px solid gray;
  border-radius: 5px;
  cursor: pointer;
}

.page-preview-block:hover {
  /*background-color: #252A31 !important;*/
  box-shadow: 0 0 2px 2px #48abe0;
  cursor: pointer;
}

.post-manager-post-selection {
  height: 100%;
}

.post-manager-posts-container {
  background-color: #404854;
  border: 1px solid gray;
  display: flex;
  border-radius: 5px;
  height: 100%;
  padding: 20px;
  min-height: 500px;
}

.post-preview-block {
  width: 150px;
  height: 200px;
  background-color: #2F343C !important;
  border: 1px solid gray;
  border-radius: 5px;
  cursor: pointer;
}

.post-preview-block:hover {
  background-color: #252A31 !important;
}

.page-wrapper .page-container {
  justify-content: start;
  display: flex;
  align-items: start;
}

.page-wrapper .bp5-overlay-content {
  position: unset !important;
  padding-top: 5px;
}

.page-wrapper .bp5-overlay.bp5-overlay-container {
  position: relative !important;
}

.page-wrapper .bp5-portal {
  position: unset !important;
  margin-left: -105px;
  height: 100%;
  min-height: 300px;
}

.side-menu-closed {
  height: 100%;
  display: block;
  min-height: 600px;
  border-right: 1px solid gray;
  padding: 3px;
}

.page-container {
  height: 100%;
  width: 100%;
}

.page-container-content {
  margin-top: 50px;
  margin-left: 20px;
}

.bp5-popover-content .bp5-menu {
  color: white;
  min-width: unset;
  background-color: #1C2127 !important;
}

.bp5-popover-content .bp5-button {
  justify-content: start;
}

.page-builder-page-selection .bp5-tab {
  color: white;
}

/* .post-manager-post-selection .bp5-tab {
  color: white;
}

.post-manager-post-selection .bp5-button, 
.post-manager-post-selection .bp5-menu {
  background-color: #30404D !important;
} */

.post-manager-container .bp5-tab {
  color: white;
}

.post-manager-container .bp5-button,
.post-manager-container .bp5-menu {
  background-color: #30404D !important;
}

.page-builder-container .custom-drawer-container {
  position: absolute;
  right: 0;
  top: 50px;
  height: 746px;
}

.page-builder-container .bp5-overlay-content {
  position: unset !important;
  padding-top: 5px;
}

.page-builder-container .bp5-overlay.bp5-overlay-container {
  position: relative !important;
}

.page-builder-container .bp5-portal {
  position: unset !important;
  margin-left: -105px;
  height: 100%;
  min-height: 300px;
}

.page-builder-container .bp5-drawer-body {
  height: 701px;
}

.page-builder-container .bp5-overlay-start-focus-trap {
  height: 743PX;
  position: absolute;
  width: 358PX;
  left: 2px;
  top: 16px;
  border: none;
}


/* .user-list-container .bp5-table-quadrant-scroll-container {
  max-height: 500px !important;
  max-width: 1220px !important;
  overflow: scroll !important;
} */

.user-selection-container {
  padding: 10px;
  border: 1px solid gray;
  display: flex;
  height: 150px;
}

.search-bar {
  width: 150px;
  padding: 10px 0px;
}

.search-bar .bp5-input {
  background-color: #2F343C !important;
  color: white;
}

.bp5-table-container {
  min-height: 50px !important;
}

.bp5-table-quadrant-body-container {
  background-color: #2F343C !important;
}

.bp5-table-body-virtual-client {
  background-color: #2F343C !important;
}

.bp5-table-quadrant {
  background: unset !important;
}

:focus {
  outline: none !important;
}

.bp5-input,
.bp5-html-select select,
.bp5-select select,
textarea,
.bp5-file-upload-input {
  background-color: #2F343C !important;
  color: white !important;
}

.bp5-tag {
  background-color: rgba(89, 96, 105, 0.15) !important;
  color: white !important;
}

.editor {
  height: 100%;
}

.editor-content {
  padding: 20px;
  background-color: #2F343C !important;
  color: white !important;
}


.bp5-tree-node-content-1 {
  padding-left: 5px !important;
}

.bp5-tree-node-content-2 {
  padding-left: 10px !important;
}

.bp5-tree-node-content-3 {
  padding-left: 15px !important;
}

.bp5-tree-node-content-4 {
  padding-left: 20px !important;
}

.bp5-tree-node-content-5 {
  padding-left: 25px !important;
}

.bp5-tree-node-content-3 {
  padding-left: 30px !important;
}

.container {
  width: 100%;
  max-width: 1020px;
  margin: 60px auto;
}

.markdown-editor,
.rendered-output {
  height: 100%;
  width: 100%;
  color: white;
  display: block;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
}

.markdown-textarea,
.rendered-html-output {
  width: 100%;
  max-width: 100%;
  display: flex;
  overflow: auto;
  color: white;
  background-color: darkslategray;
  border: none;
}

.rendered-html-output {
  height: 60vh;
  padding-left: 10px;
}

.card-body {
  background-color: darkslategray;
  width: 100%;
  display: flex;
  flex-direction: column;

  border: 1px solid white;
  border-radius: 5px;
}

.rendered-html-output p {
  margin: 0px;
}

.rendered-output .card-title {
  margin-bottom: 17px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.markdown-textarea {
  height: 60vh;
  width: 100%;
  box-sizing: border-box;
  resize: none;
  padding-left: 10px;
  padding-top: 10px;
}

.markdown-editor-container {
  display: flex;
}

.markdown-section {
  width: 50%;
}

.filler text {
  width: 20px;
}

.row {
  display: flex;
  justify-content: center;
}

.save-container {
  width: 100%;
  padding: 5px;
}

.save-container .col {
  width: 60%;
}

.save-container .card {
  width: 68% !important;
}

.save-container .card-body {
  padding: 10px;
}

.save-container h4 {
  margin: 5px;
}

.save-container .input-group input {
  width: 132px;
}

.save-container .input-group {
  display: flex;
  flex-direction: column;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-image-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 1px solid white;

}

.card-image {
  width: 150px;
  height: 150px;
  background-size: contain;
  border: 1px solid white;
}

.card-header {
  font-size: 16px;
  font-weight: bold;
}

.search-bar {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin: 0 auto;
}

.search-box {
  width: 300px;
}


.bp5-card,
.bp5-dialog,
.bp5-dialog-header,
.bp5-heading {
  color: white !important;
  background-color: #1C2127 !important;
}

.ecommerce-section {
  width: 100%;
}

.ecommerce-section-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid gray;
  align-items: center;
}

.bp5-button {
  height: 30px;
  border-radius: 2px;
}

.form-component {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  overflow-y: scroll;
  max-height: 700px;
  contain: content;
  position: inherit;
  padding-left: 5px;
  padding-right: 10px;
  margin-top: 30px;

}

.bp5-menu {
  display: flex;
  background: none !important;
}

.bp5-popover .bp5-button {
  background: none !important;
}

.bp5-popover .bp5-menu {
  display: flex;
  flex-direction: column;
}

.grid .bp5-button {
  background: none !important;
}

.settings-menu {
  display: flex;
  flex-direction: column;
}

.prose {
  min-height: 30vh;
  text-align: left;
  padding: 20px 30px !important;
}

.page-container {
  /* width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 0 10px rgba(12, 14, 16, 0.3) !important; */
  padding: 0px;
  height: 100%;
  min-height: 94vh;
  overflow-y: scroll;
}

.settings-menu {
  width: 20%;
}

.settings-drawer-content {
  width: 80%;
}

.new-product-list {
  height: 100%;
  max-height: 600px;
  overflow-y: scroll;
}

.chonky-chonkyRoot {
  background-color: #293136 !important;
  color: white !important;
}

.MuiTypography-colorTextSecondary,
.MuiButton-root,
.MuiInputBase-root {
  color: white !important;
}

.MuiButton-label {
  color: white !important;
}

.bp5-popover .bp5-popover-content {
  background-color: #293136 !important;
}

.bp5-form-group .bp5-control {
  margin-left: 10px;
}

textarea.bp5-input {
  height: auto !important;
  width: 100% !important;
}


.bp5-form-content .bp5-button {
  margin: 0px;
  padding: 0px;
  margin-left: 5px;
}

.dynamic-form-label {
  font-size: 14px !important;
  line-height: unset !important;
}

.page-container {
  padding: 0px !important;
}

.page-grid {
  height: 100%;
  width: 100%;
}

.page-component {
  width: 98%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.page-form-group {
  flex-direction: row;
  display: flex;
  margin-top: 20px;
}

.page-form-group .bp5-form-group {
  margin: 0px;
}

.preview-box {
  height: 100%;
  width: 100%;
}

.preview-box iframe {
  display: block;
  width: 100%;
  content: contain;
  contain: content;
  -ms-transform: scale(0.25);
  -moz-transform: scale(0.25);
  -o-transform: scale(0.25);
  -webkit-transform: scale(0.25);
  transform: scale(0.25);
  -ms-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  height: 200px;
  width: 593px;
  height: 786px;
  pointer-events: none ! important;
}

.solo-form-group {
  flex-direction: row !important;
  margin: 5px 0px !important;
  
}

.variations .form-component {
  margin: 0px;
}

.variations .bp5-card {
  justify-content: space-between;
}

.solo-form-group .bp5-form-content {
  flex-direction: row;
  display: flex;
}

.product-component-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 250px;
}

.product-image-container {
  width: 100%;
  flex-grow: 1;
  contain: content;
}

.product-image {
  width: 100%;
  height: 100%;
  background-size: cover;
}

.product-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 5px;
  border: 1px solid gray;
  background-color: #3c4145 !important
}

.product-header {
  font-size: 14px;
  width: 170px;
}

.product-header .bp5-tag {
  color: white;
}

.product-overlay {
  /* top: 25%;
  left: 29%; */
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  border: 1px solid gray;
  border-radius: 5px;
}

.user-overlay {
  /* top: 25%;
  left: 29%; */
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  border: 1px solid gray;
  border-radius: 5px;
}

.carousel-container {
  height: 300px;
  width: 325px;
}

.grid-locked {
  pointer-events: none;
}

.product-details {
  width: 100%;
  max-width: 300px;
}

.cart-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #3c4145 !important;
  border: 1px solid gray;
}

.cart-item-img {
  width: 100px;
  height: 120px;
  background-size: cover;
}

.sub-total-box {
  width: 100%;
  text-align: end;
  margin-top: 20px;
}

.cart-item div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cart-item-name,
.cart-item-qty,
.cart-item-subtotal,
.cart-remove-button {
  padding: 20px;
  width: 20%;
}

.cart-action-buttons {
  display: flex;
  justify-content: end;
}

.checkout-forms {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.checkout-forms .bp5-form-group {
  margin-right: 10px;
}

.checkout-forms .bp5-label {
  align-items: start;
  display: flex;
}

.checkout-forms .bp5-control {
  display: flex;
}

.cart {
  margin-bottom: 20px;
}

.bp5-divider {
  border-right: 2px solid #3c4145 !important;
  height: 100%;
  border-bottom: 2px solid #3c4145 !important;
}

.checkout-forms .checkout-form-divider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-top: 60px;
}

.total-box {
  width: 100%;
  display: flex;
  align-items: end;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
}

.billing-form .form-component,
.shipping-form .form-component {
  justify-content: start;
}

/* .form-component .bp5-form-group {
  margin: 0 0 30px !important;
} */

.checkout-forms .bp5-card {
  width: 100%;
}

.checkout-forms .bp5-switch {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.complete-checkout-button {
  width: 100%;
  display: flex;
  justify-content: end;
  margin-top: 20px;
}

.bp5-input-group .bp5-input-left-container {
  /* left: 10px !important;
  top: 6px !important; */
  color: gray;
}

.route-input .bp5-input {
  padding-left: 104px !important;
}

.page-form-container {
  margin-bottom: 20px;
}

/* 
.page-builder-container {
  max-width: 1300px;
  position: relative;
  margin: auto 50px 50px 50px;
} */

.product-list .card {
  margin-bottom: 20px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid gray;
  contain: content;
}

.product-list .card:hover {
  border: 1px solid rgb(180, 240, 191);
}

.page-builder-header {
  margin: 5px 10px 0px;
  position: relative;
  display: flex !important;
  width: 100%;
  justify-content: flex-start !important;
}

.page-builder-app .grid-layout-container {
  width: 100%;
  height: 100%;
  position: relative;
  top: 90px;
}


.page-toolbox .bp5-collapse-body {
  justify-content: flex-start;
  width: 100%;
}

.page-toolbox .component {
  width: 8%;
  height: 120px !important;
  margin: 10px;
  border: 1px solid white;
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  text-align: center;
}

.page-toolbox .component:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.page-toolbox .component-header {
  display: none !important;
}

.page-toolbox
.post-manager-container {
  min-height: 85vh;
}

.post-manager-header {
  display: flex;
}

.posts-toolbox {
  display: flex;
  margin-bottom: 20px;
}

.post-toolbox {
  display: flex;
  margin-bottom: 20px;
}

.post-toolbox button {
  margin-right: 10px;
}

.markdown-editor {
  padding: 0px !important;
}

.post-editor-header {
  margin-bottom: 20px;
}

.post-editor-header .bp5-form-group {
  align-items: flex-start;
  width: 50%;
}

.mdxeditor-toolbar button {
  cursor: pointer;
  max-width: 893px;
}

.mdxeditor-toolbar,
.mdxeditor-toolbar button {
  background-color: unset !important;
  z-index: 1000;
}

.post-container {
  height: 60vh;
  text-align: left;
  margin: 30px auto;
  width: 90vw;
  max-width: 1075px;
}

.post-content {
  padding: 10px 30px;
}

.post-container .bp5-card {
  padding: 5px 20px 5px 20px !important;
}

.post {
  padding: 20px;
}

.post-title {
  padding-left: 5px;
}
.post-details {
  margin-top: 20px;
  text-align: right;
  font-size: 10px;
  color: gray;
}

.product-price .sale-tag {
  display: flex;
  flex-direction: column;
}

.product-actions {
  display: flex;
  justify-content: space-between;
}

.product-component {
  display: flex;
  flex-direction: row;
  width: 608px;
}
.product-component .sale-tag {
  font-size: 16px !important;
  display: flex;
  height: 40px;
  margin: 5px 0px;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}

.product-component .product-price {
  align-self: flex-end;
  margin: 15px 0px;
  width: 100%;
}

.product-component .product-price .bp5-tag {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.product-attributes {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;

}

.product-info {
  display: flex;
  flex-direction: column;
}

.product-component .bp5-divider {
  margin: 0px;
}

.product-component .product-actions {
  margin-top: 10px;
}

.product-component .product-details {
  margin-left: 30px;
}

.carousel-root {
  max-width: 230px;
  margin: 0 auto;
}
.carousel-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

/* Style the thumb container */
.thumb {
  height: 50px; /* Set your desired height */
  display: flex;
  overflow: hidden;
}

/* Style the individual thumb items */
.thumb img {
  height: 100%; /* Make the images fill the thumb container */
  object-fit: cover;
}

.thumbs.animated {
  padding-left: 0px;
}

.droppable-element {
  width: 150px;
  text-align: center;
  margin: 10px 0;
  color: white;
}

.page-builder-app .react-grid-item {
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.page-builder-app .react-grid-item:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.component-header .bp5-button {
  cursor: pointer !important;
  color: white !important;
}

.react-grid-item.react-grid-placeholder {
	pointer-events: none;
}

.spacing-category {
  display: flex;
}


.spacing-category .category {
  margin: 0px 20px 10px 10px;
}
.font-category {
  display: flex;
  flex-direction: column;
}

.font-category .category {
  margin: 0px 20px 10px 10px;
}

.border-category {
  display: flex;
  flex-direction: column;
}

.border-category .category {
  margin: 0px 20px 10px 10px;
}

.color-category {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}
.color-category .category {
  margin: 0px 0px 10px 10px;
}

.size-category .category {
  margin: 0px 20px 10px 10px;
}

.component-settings .bp5-tab {
  color: white !important;
}

.mdxeditor-toolbar {
  display: flex;
  flex-wrap: wrap;
  color: white !important;

}

.component:hover {
  border: 1px solid red;
}

.droppable-element {
  contain: content;
}

.page-builder-app iframe {
  pointer-events: none;
}


.react-grid-layout {
  min-height: 94vh !important;
}

/* styles.css */

.page-builder-header-topbar {
  position: fixed;
  left: 0;
  right: 0;
  top: 50px;
  background-color: rgb(28, 33, 39) !important;
  z-index: 1000;
  height: 37px;
}


.page-builder-header {
  display: flex;
  justify-content: space-between;
}

.page-settings,
.page-toolbox {
	position: fixed;
  top: 79px;
  left: 0;
  right: 0;
  background-color: rgb(28, 33, 39) !important;
  z-index: 1001;
  display: flex;
  flex-direction: column;
}

.page-drag-elements {
  display: flex;
}
.page-settings .bp5-collapse-body,
.page-toolbox .bp5-collapse-body {
  margin: 0 20px;
}

.page-toolbox .bp5-collapse-body {
  padding-top: 30px;
}
.page-toolbox {
  display: flex;
  flex-wrap: wrap;
}

.page-toolbox > * {
  margin: 5px;
}

/* }
.category,
.title,
.footer {
	position: -webkit-sticky;
	position: sticky;
	height: 50px;
}

.title {
	top: 0;
	font: 50px/60px "Crimson Text";
	color: #fdef67;
	text-shadow: 2px 2px 0 #f83d23;
	background-color: dodgerblue;
	margin: 0;
} */

.header-nav {
  position: fixed !important;
}

.user-page-container {
  margin-top: 50px;
}

.user-list-container {
  min-height: 88vh;
}

.user-list .card {
  width: 150px;
  margin-bottom: 10px;
  padding: 10px;
  cursor: pointer;
}

.user-list .card .card-info {
  font-size: 12px;
}

.user-list .card:hover {
  border: 1px solid white;
}

.fields-container .fields-list {
  max-height: 220px
}
.variations-container .variations-list {
  max-height: 250px;
}
.fields-container .fields-list,
.variations-container .variations-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  border: 1px solid white;
  border-radius: 5px;
}
.fields-container .fields-list .field {
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
}
.fields-container .bp5-form-group {
  margin: 0 !important;
}

.fields-container .fields-list-headers {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.fields-container .fields-list-headers .name-column,
.fields-container .fields-list-headers .type-column,
.fields-container .fields-list-headers .value-column {
 padding-right: 10px;
}

.fields-container .fields-list-headers .trash-column {
  opacity: 0;
}

.fields-container .fields-list .bp5-form-content {
  display: flex;
  justify-content: center;
}
.fields-container .fields-list .field:nth-child(even){
  background-color: #1c2026;
  color:#fff;
  }
  
  .fields-container .fields-list .field:nth-child(odd){
    background-color: #13171c;
  }

  .fields-container .fields-list-headers .bp5-label {
    display: flex;
    justify-content: center;
  }

  .fields-container .name-column,
  .fields-container .type-column,
  .fields-container .variant-column,
  .fields-container .value-column {
    width: 20%;
}

.fields-container .trash-column {
  margin-right: 10px;
}

.variations-container {
  margin-top: 10px;
  display: flex;
}
.variations-container .bp5-divider {
  height: 280px;
  margin: 20px 56px;
}

.variations-list-container {
  flex-grow: 1;
}

.variations-container .variations-list .variation {
  display: flex;
  justify-content: space-between;
}
.variations-container .variations-list .form-component {
  margin: 0;
  width: 100%;
  max-height: 180px;
  height: 100%;
  flex-wrap: wrap;
}

.variations-container .variations-list .bp5-card {
  padding: 10px;
}

.variations-container .variations-list .variation:nth-child(even){
  background-color: #1c2026 !important;
  color:#fff;
  }
  
  .variations-container .variations-list .variation .delete-button {
    margin-right: -10px;
    margin-top: -10px;
  }
  .variations-container .variations-list .variation:nth-child(odd){
    background-color: #13171c !important;
  }

  .variations-container .container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .fields-container .container-header {
    display: flex;
    justify-content: space-between;
    align-items: end;
  }

  .fields-container h3,
  .variation-container h3 {
    margin: 0px;   
  } 

.product-form-container .action-buttons {
  display: flex;
  justify-content: end;
}

.form-component .bp5-label {
  margin-bottom: 0px !important;
  display: flex;
}

.bp5-numeric-input .bp5-button {
  background-color: rgba(89, 96, 105, 0.15) !important;
  color: white !important;
  right: 7px;
}


.product-panel-stack {
  position: unset !important;
}

.product-panel-stack .bp5-panel-stack-view {
  background-color: #1C2127;
  padding: 10px 30px 30px 30px;
}

.product-panel-stack .product-form-container {
  margin-top: 20px;
}

.product-form-container .product-form-info {
  display: flex;
  flex-direction: column;
}

.product-form-container .product-form-header {
  display: flex;
  height: 400px;
}

.product-panel-stack .product-form-container .product-info-container {
  flex-grow: 1;
}

.product-form-container .variation-image {
  height: 168px;
  width: 170px;
}

.product-form-container .variation-image .carousel-root {
  height: 160px;
  width: 139px
}
.product-panel-stack .product-form-container .product-image {
  height: 400px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-panel-stack .product-form-container .product-image .carousel-root {
  height: 350px;
  width: 300px;
}

.product-panel-list .product-list {
  max-height: 550px;
  display: flex;
  flex-direction: column;
  flex-wrap: unset;
  margin: 0px;
  border: 1px solid white;
}

.product-panel-list .bp5-button {
  background-color: #30404D !important;
}

.product-panel-list .product-list .product-card {
  width: 100%;
  overflow-y: unset;
  display: flex;
  padding: 5px;
  height: 255px;
}

.product-panel-list .product-card .product-info {
  flex-grow: 1;
}
.product-panel-list .product-card .product-image {
  display: flex;
  height: 250px;
  width: 200px;
  flex-direction: column;
  justify-content: center;
}

.carousel-root {
  height: 250px;
  width: 200px;
}
.product-panel-list .product-list .product-card .view-button {
  align-self: end;
  overflow-y: hidden;
  width: 100px;
  height: 100%;
  display: flex;
  justify-content: end;
}

.product-panel-list .product-list .product-card .form-component {
  margin: 0px 0px 0px 10px;
  overflow-y: scroll;
}

.product-panel-list .product-list .product-card:nth-child(even){
  background-color: #1c2026 !important;
  color:#fff;
  }
  
  /* .variations-container .variations-list .variation .delete-button {
    margin-right: -10px;
    margin-top: -10px;
  } */
  .product-panel-list .product-list .product-card:nth-child(odd){
    background-color: #13171c !important;
  }

  .product-panel-list .product-list .product-card .form-component h2 {
    margin: 2px 0px;
  }

  .ecommerce-section {
    padding: 0px !important;
  }

  .ecommerce-section h3 {
    margin: 5px 0px;
  }

  .secondary-hero {
    background-size: contain !important;
  }

  .card-image {
    background-size: cover;
    background-position: center;
  }

  .user-preview {
    display: flex;
  }

  .user-preview .user-preview-info {
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .user-preview .user-preview-username-container {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: bold;
  }
  .user-preview .user-preview-description-container {
    font-size: 12px;
    margin-top: 5px;
  }

  .user-preview .carousel-root {
    height: 200px;
  }

  /* Default styles for desktop */
.desktop-menu {
  display: flex !important; /* Assuming desktop menu is initially visible */
}

.mobile-menu {
  display: none !important; /* Assuming mobile menu is initially hidden */
}

/* Media query for screens with width 900 pixels or less */
@media (max-width: 1000px) {
  .desktop-menu {
    display: none !important; /* Hide desktop menu when screen width is 900px or less */
  }

  .mobile-menu {
    display: flex !important; /* Show mobile menu when screen width is 900px or less */
  }
}

.mobile-menu.bp5-drawer,
.mobile-menu.bp5-drawer .bp5-heading {
  background-color: #050315 !important;
}

.mobile-menu.bp5-drawer .menu-container .bp5-menu {
  flex-direction: column;
  width: 100%;
}

.mobile-menu.bp5-drawer .bp5-button {
  justify-content: start;
}

.mobile-menu.bp5-drawer .mobile-header-collapse-menu,
.mobile-menu.bp5-drawer .mobile-header-collapse-menu .bp5-heading {
    background-color: #1c2026 !important;
}

.menu-container .bp5-button-group {
  display: flex;
}

#webpack-dev-server-client-overlay {
  display: none;
}

.bp5-popover-transition-container,
.bp5-overlay-content {
  z-index: 1004;
}
