.App {
  text-align: center;
}

.header img {
  height: 100%;
  width: auto;
  object-fit: cover;
  padding: 5px 0px;
}

.header,
.footer {
  height: 100%;
}

.header-nav {
  border-bottom: 1px solid lightblue;
  background-color: #050315 !important;
}

.footer-nav {
  height: 120px !important;
  border-top: 1px solid lightblue;
  background-color: #050315 !important;
  display: flex;
  flex-wrap: wrap;
}

.footer-nav .bp5-navbar-group {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: start;
  width: 100%;
  padding-top: 15px;
  color: darkgray !important;
  margin: 0 auto;
  max-width: 1050px;
}

.footer-nav .bp5-button {
  background: unset !important;
}

.App-link {
  color: #61dafb;
}

.page-builder {
  height: 100%;
}

.page-builder-drop-window {
  flex: 1;
}

.bp5-vertical>.bp5-tab-list {
  border-right: 2px solid gray;
  margin-top: 25px;
}

.page-builder .bp5-card {
  background-color: #30404D !important;
  border: 2px solid gray;
}

.post-manager .bp5-tab-list {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.post-manager .bp5-tab-list div {
  color: white;
}

.post-manager {
  height: 100%;
}

.post-managerr-drop-window {
  flex: 1;
}

.bp5-vertical>.bp5-tab-list {
  border-right: 2px solid gray;
  margin-top: 25px;
}

.post-manager .bp5-card {
  background-color: #30404D !important;
  border: 2px solid gray;
}

.post-manager.bp5-tab-list {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.post-manager .bp5-tab-list div {
  color: white;
}


.content {
  display: flex;
  flex: 1;
}

.toolbox {
  width: 200px;
  border-left: 2px solid gray;
  height: 100%;
  min-height: 100%;
  padding: 0px 10px;
}

.toolbox-field {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  cursor: pointer;
  user-select: none;
  margin-top: 10px;
}

.toolbox-field.overlay {
  background: black;
  color: white;
}

.components-toolbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.canvas {
  flex: 1;
  border: 1px dashed gray;
  margin: 0px 10px;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  overflow-y: auto;
  min-height: 100%;
  background-color: #30404D !important;
}

.canvas-field {
  padding: 15px;
}

.canvas-field.overlay {
  opacity: 0.5;
}

.canvas-field>* {
  width: 100%;
  pointer-events: none;
}

.spacer {
  background: black;
  width: 100%;
  opacity: 0.25;
  height: 100px;
}

.bp5-button span {
  color: white;
}

.text-dark-blue {
  color: var(--dark-blue);
}

.bp5-menu-header>h6 {
  color: gray !important;
}

.settings-menu-item div {
  text-align: end;
}

.settings-menu {
  margin-left: 200px;
}

.content {
  height: 100%;
}

.overlay-container {
  height: 100%;
  z-index: 10020 !important;
  background-color: #1C2127;
  color: #ffffff;
  height: 100%;
  border: 2px solid gray;
  padding: 30px 30px 30px 30px;
  position: relative !important;
  display: table;
  margin: 15% auto;
  border-radius: 5px;
}

.bp5-navbar-group {
  height: 59px;
}

.close-button {
  width: auto;
  height: auto;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 5;
}

.toolbox h4 {
  text-align: center;
}

.bp5-form-content {
  width: 100%;
}

/* .bp5-table-quadrant-main .bp5-table-cell-client {
  background-color: #404854;
  color: white;
} */

.custom-table-column.bp5-table-cell {
  background-color: #252A31;
  color: white;
}

.custom-table-column.bp5-table-header {
  background-color: #404854;
  color: white;
}

.bp5-table-row-headers-cells-container {
  background-color: #404854;
  color: white;
}

.bp5-table-selection-enabled .bp5-table-header:hover::before,
.bp5-table-header.bp5-table-header-active::before {
  background-color: #2F343C !important;
  color: white;
}

.bp5-table-menu {
  background-color: #404854 !important;
  color: white;
}




.page-builder-page-selection {
  height: 100%;
  max-width: 800px;
  position: relative;
  margin: 50px auto;
}

.page-builder-pages-container {
  background-color: #404854;
  border: 1px solid gray;
  display: flex;
  border-radius: 5px;
  height: 100%;
  padding: 20px;
  min-height: 80vh;
}

.page-preview-block {
  width: 150px;
  height: 200px;
  margin-right: 10px;
  background-color: #2F343C !important;
  border: 1px solid gray;
  border-radius: 5px;
  cursor: pointer;
}

.page-preview-block:hover {
  /*background-color: #252A31 !important;*/
  box-shadow: 0 0 2px 2px #48abe0;
  cursor: pointer;
}

.post-manager-post-selection {
  height: 100%;
}

.post-manager-posts-container {
  background-color: #404854;
  border: 1px solid gray;
  display: flex;
  border-radius: 5px;
  height: 100%;
  padding: 20px;
  max-height: 70vh;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow-y: scroll;
}

.post-preview-block {
  width: 150px;
  height: 200px;
  background-color: #2F343C !important;
  border: 1px solid gray;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
  padding: 0px 5px;
  overflow-y: hidden;
}

.post-preview-block:hover {
  background-color: #252A31 !important;
}

.page-wrapper .page-container {
  justify-content: start;
  display: flex;
  align-items: start;
}

/* .bp5-overlay-content:not(.product-overlay, .bp5-drawer, .bp5-popover-transition-container, .user-overlay) {
  position: unset !important;
  padding-top: 5px;
} */

.page-wrapper .bp5-overlay.bp5-overlay-container {
  position: relative !important;
}

.page-wrapper .bp5-portal {
  position: unset !important;
  margin-left: -105px;
  height: 100%;
  min-height: 300px;
}

.side-menu-closed {
  height: 100%;
  display: block;
  min-height: 600px;
  border-right: 1px solid gray;
  padding: 3px;
}

.page-container {
  height: 100%;
  width: 100%;
}

.page-container-content {
  margin-top: 50px;
  margin-left: 20px;
}

.bp5-popover-content .bp5-menu {
  color: white;
  min-width: unset;
  background-color: #1C2127 !important;
}

.bp5-popover-content .bp5-button {
  justify-content: start;
}

.page-builder-page-selection .bp5-tab {
  color: white;
}

/* .post-manager-post-selection .bp5-tab {
  color: white;
}

.post-manager-post-selection .bp5-button, 
.post-manager-post-selection .bp5-menu {
  background-color: #30404D !important;
} */


.post-manager-container .bp5-tab {
  color: white;
}

.post-manager-container {
  max-width: 900px;
  margin: 0 auto;
}

.post-manager-container .bp5-button,
.post-manager-container .bp5-menu {
  background-color: #30404D !important;
}

.page-builder-container .custom-drawer-container {
  position: absolute;
  right: 0;
  top: 50px;
  height: 746px;
}

.page-builder-container .bp5-overlay-content {
  position: unset !important;
  padding-top: 5px;
}

.page-builder-container .bp5-overlay.bp5-overlay-container {
  position: relative !important;
}

.page-builder-container .bp5-portal {
  position: unset !important;
  margin-left: -105px;
  height: 100%;
  min-height: 300px;
}

.page-builder-container .bp5-drawer-body {
  height: 701px;
}

.page-builder-container .bp5-overlay-start-focus-trap {
  height: 743PX;
  position: absolute;
  width: 358PX;
  left: 2px;
  top: 16px;
  border: none;
}


/* .user-list-container .bp5-table-quadrant-scroll-container {
  max-height: 500px !important;
  max-width: 1220px !important;
  overflow: scroll !important;
} */

.user-selection-container {
  padding: 10px;
  border: 1px solid gray;
  display: flex;
  height: 150px;
}

.search-bar {
  width: 150px;
  padding: 10px 0px;
}

.search-bar .bp5-input {
  background-color: #2F343C !important;
  color: white;
}

.bp5-table-container {
  min-height: 50px !important;
}

.bp5-table-quadrant-body-container {
  background-color: #2F343C !important;
}

.bp5-table-body-virtual-client {
  background-color: #2F343C !important;
}

.bp5-table-quadrant {
  background: unset !important;
}

:focus {
  outline: none !important;
}

.bp5-input,
.bp5-html-select select,
.bp5-select select,
textarea,
.bp5-file-upload-input {
  background-color: #2F343C !important;
  color: white !important;
}

.bp5-tag {
  background-color: rgba(89, 96, 105, 0.15) !important;
  color: white !important;
}

.editor {
  height: 100%;
}

.editor-content {
  padding: 20px;
  background-color: #2F343C !important;
  color: white !important;
}


.bp5-tree-node-content-1 {
  padding-left: 5px !important;
}

.bp5-tree-node-content-2 {
  padding-left: 10px !important;
}

.bp5-tree-node-content-3 {
  padding-left: 15px !important;
}

.bp5-tree-node-content-4 {
  padding-left: 20px !important;
}

.bp5-tree-node-content-5 {
  padding-left: 25px !important;
}

.bp5-tree-node-content-3 {
  padding-left: 30px !important;
}

.container {
  width: 100%;
  max-width: 1020px;
  margin: 60px auto;
}

.markdown-editor,
.rendered-output {
  height: 100%;
  width: 100%;
  color: white;
  display: block;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
}

.markdown-textarea,
.rendered-html-output {
  width: 100%;
  max-width: 100%;
  display: flex;
  overflow: auto;
  color: white;
  background-color: darkslategray;
  border: none;
}

.rendered-html-output {
  height: 60vh;
  padding-left: 10px;
}

.card-body {
  background-color: darkslategray;
  width: 100%;
  display: flex;
  flex-direction: column;

  border: 1px solid white;
  border-radius: 5px;
}

.rendered-html-output p {
  margin: 0px;
}

.rendered-output .card-title {
  margin-bottom: 17px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.markdown-textarea {
  height: 60vh;
  width: 100%;
  box-sizing: border-box;
  resize: none;
  padding-left: 10px;
  padding-top: 10px;
}

.markdown-editor-container {
  display: flex;
}

.markdown-section {
  width: 50%;
}

.filler text {
  width: 20px;
}

.row {
  display: flex;
  justify-content: center;
}

.save-container {
  width: 100%;
  padding: 5px;
}

.save-container .col {
  width: 60%;
}

.save-container .card {
  width: 68% !important;
}

.save-container .card-body {
  padding: 10px;
}

.save-container h4 {
  margin: 5px;
}

.save-container .input-group input {
  width: 132px;
}

.save-container .input-group {
  display: flex;
  flex-direction: column;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-image-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 1px solid white;

}

.card-image {
  width: 150px;
  height: 150px;
  background-size: contain;
  border: 1px solid white;
}

.card-header {
  font-size: 16px;
  font-weight: bold;
}

.search-bar {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin: 0 auto;
}

.search-box {
  width: 300px;
}


.bp5-card,
.bp5-dialog,
.bp5-dialog-header,
.bp5-heading {
  color: white !important;
  background-color: #1C2127 !important;
}

.ecommerce-section {
  width: 100%;
}

.ecommerce-section-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid gray;
  align-items: center;
}

.bp5-button {
  height: 30px;
  border-radius: 2px;
}

.form-component {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  overflow-y: scroll;
  max-height: 700px;
  contain: content;
  position: inherit;
  padding-left: 5px;
  padding-right: 10px;
  margin-top: 30px;

}

.bp5-menu {
  display: flex;
  background: none !important;
}

.bp5-popover .bp5-button {
  background: none !important;
}

.bp5-popover .bp5-menu {
  display: flex;
  flex-direction: column;
}

.grid .bp5-button {
  background: none !important;
}

.settings-menu {
  display: flex;
  flex-direction: column;
}

.prose {
  min-height: 30vh;
  text-align: left;
  padding: 20px 30px !important;
}

.page-container {
  /* width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 0 10px rgba(12, 14, 16, 0.3) !important; */
  padding: 0px;
  height: 100%;
  min-height: 94vh;
  overflow-y: scroll;
}

.settings-menu {
  width: 20%;
}

.settings-drawer-content {
  width: 80%;
}

.new-product-list {
  height: 100%;
  max-height: 600px;
  overflow-y: scroll;
}

.chonky-chonkyRoot {
  background-color: #293136 !important;
  color: white !important;
}

.MuiTypography-colorTextSecondary,
.MuiButton-root,
.MuiInputBase-root {
  color: white !important;
}

.MuiButton-label {
  color: white !important;
}

.bp5-popover .bp5-popover-content {
  background-color: #293136 !important;
}

.bp5-form-group .bp5-control {
  margin-left: 10px;
}

textarea.bp5-input {
  height: auto !important;
  width: 100% !important;
}


.bp5-form-content .bp5-button {
  margin: 0px;
  padding: 0px;
  margin-left: 5px;
}

.dynamic-form-label {
  font-size: 14px !important;
  line-height: unset !important;
}

.page-container {
  padding: 0px !important;
}

.page-grid {
  height: 100%;
  width: 100%;
}

.page-component {
  width: 98%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.page-form-group {
  flex-direction: row;
  display: flex;
  margin-top: 20px;
}

.page-form-group .bp5-form-group {
  margin: 0px;
}

.preview-box {
  height: 100%;
  width: 100%;
}

.preview-box iframe {
  display: block;
  width: 100%;
  content: contain;
  contain: content;
  -ms-transform: scale(0.25);
  -moz-transform: scale(0.25);
  -o-transform: scale(0.25);
  -webkit-transform: scale(0.25);
  transform: scale(0.25);
  -ms-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  height: 200px;
  width: 593px;
  height: 786px;
  pointer-events: none ! important;
}

.solo-form-group {
  flex-direction: row !important;
  margin: 5px 0px !important;

}

.variations .form-component {
  margin: 0px;
}

.variations .bp5-card {
  justify-content: space-between;
}

.solo-form-group .bp5-form-content {
  flex-direction: row;
  display: flex;
}

.product-component-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 250px;
}

.product-image-container {
  width: 100%;
  flex-grow: 1;
  contain: content;
}

.product-image {
  width: 100%;
  height: 100%;
  background-size: cover;
}

.product-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 5px;
  border: 1px solid gray;
  background-color: #3c4145 !important
}

.product-header {
  font-size: 14px;
  width: 170px;
}

.product-header .bp5-tag {
  color: white;
}

/* .product-overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid gray;
  border-radius: 5px;
} */

.user-overlay {
  /* top: 25%;
  left: 29%; */
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  border: 1px solid gray;
  border-radius: 5px;
}

.carousel-container {
  height: 300px;
  width: 325px;
}

.grid-locked {
  pointer-events: none;
}

.product-details {
  width: 100%;
  max-width: 300px;
}

.cart-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #3c4145 !important;
  border: 1px solid gray;
}

.cart-item-img {
  width: 100px;
  height: 120px;
  background-size: cover;
}

.sub-total-box {
  width: 100%;
  text-align: end;
  margin-top: 20px;
}

.cart-item div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cart-item-name,
.cart-item-qty,
.cart-item-subtotal,
.cart-remove-button {
  padding: 20px;
  width: 20%;
}

.cart-action-buttons {
  display: flex;
  justify-content: end;
}

.checkout-forms {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.checkout-forms .bp5-form-group {
  margin-right: 10px;
}

.checkout-forms .bp5-label {
  align-items: start;
  display: flex;
}

.checkout-forms .bp5-control {
  display: flex;
}

.cart {
  margin-bottom: 20px;
}

.bp5-divider {
  border-right: 2px solid #3c4145 !important;
  height: 100%;
  border-bottom: 2px solid #3c4145 !important;
}

.checkout-forms .checkout-form-divider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-top: 60px;
}

.total-box {
  width: 100%;
  display: flex;
  align-items: end;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
}

.billing-form .form-component,
.shipping-form .form-component {
  justify-content: start;
}

/* .form-component .bp5-form-group {
  margin: 0 0 30px !important;
} */

.checkout-forms .bp5-card {
  width: 100%;
}

.checkout-forms .bp5-switch {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.complete-checkout-button {
  width: 100%;
  display: flex;
  justify-content: end;
  margin-top: 20px;
}

.bp5-input-group .bp5-input-left-container {
  /* left: 10px !important;
  top: 6px !important; */
  color: gray;
}

.route-input .bp5-input {
  padding-left: 104px !important;
}

.page-form-container {
  margin-bottom: 20px;
}

/* 
.page-builder-container {
  max-width: 1300px;
  position: relative;
  margin: auto 50px 50px 50px;
} */

.product-list .card {
  margin-bottom: 20px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid gray;
  contain: content;
}

.product-list .card:hover {
  border: 1px solid rgb(180, 240, 191);
}

.page-builder-header {
  margin: 5px 10px 0px;
  position: relative;
  display: flex !important;
  width: 100%;
  justify-content: flex-start !important;
}

.grid-layout-container {
  width: 100%;
  height: 100%;
  position: relative;
  top: 90px;
}


.page-toolbox .bp5-collapse-body {
  justify-content: flex-start;
  width: 100%;
}

.page-toolbox .component {
  width: 8%;
  height: 120px !important;
  margin: 10px;
  border: 1px solid white;
  cursor: move;
  /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  text-align: center;
}

.page-toolbox .component:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.page-toolbox .component-header {
  display: none !important;
}

.page-toolbox .post-manager-container {
  min-height: 85vh;
}

.post-manager-header {
  display: flex;
}

.posts-toolbox {
  display: flex;
  margin-bottom: 20px;
}

.post-toolbox {
  display: flex;
  margin-bottom: 20px;
}

.post-toolbox button {
  margin-right: 10px;
}

.markdown-editor {
  padding: 0px !important;
}

.post-editor-header {
  margin-bottom: 20px;
}

.post-editor-header .bp5-form-group {
  align-items: flex-start;
  width: 50%;
}

.mdxeditor-toolbar button {
  cursor: pointer;
  max-width: 893px;
}

.mdxeditor-toolbar,
.mdxeditor-toolbar button {
  background-color: unset !important;
  z-index: 1000;
}

.post-container {
  height: 60vh;
  text-align: left;
  margin: 30px auto;
  width: 90vw;
  max-width: 1075px;
}

.post-content {
  padding: 10px 30px;
}

.post-container .bp5-card {
  padding: 5px 20px 5px 20px !important;
}

.post {
  padding: 20px;
}

.post-title {
  padding-left: 5px;
}

.post-details {
  margin-top: 20px;
  text-align: right;
  font-size: 10px;
  color: gray;
}

.product-price .sale-tag {
  display: flex;
  flex-direction: column;
}

.product-actions {
  display: flex;
  justify-content: space-between;
}

.product-component {
  display: flex;
  flex-direction: row;
}

.product-component .sale-tag {
  font-size: 16px !important;
  display: flex;
  height: 40px;
  margin: 5px 0px;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}

.product-component .product-price {
  align-self: flex-end;
  margin: 15px 0px;
  width: 100%;
}

.product-component .product-price .bp5-tag {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.product-attributes {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;

}

.product-info {
  display: flex;
  flex-direction: column;
}

.product-component .bp5-divider {
  margin: 0px;
}

.product-component .product-actions {
  margin-top: 10px;
}

.product-component .product-details {
  margin-left: 30px;
}

.carousel-root {
  max-width: 230px;
  margin: 0 auto;
}

.carousel-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

/* Style the thumb container */
.thumb {
  height: 50px;
  /* Set your desired height */
  display: flex;
  overflow: hidden;
}

/* Style the individual thumb items */
.thumb img {
  height: 100%;
  /* Make the images fill the thumb container */
  object-fit: cover;
}

.thumbs.animated {
  padding-left: 0px;
}

.droppable-element {
  width: 150px;
  text-align: center;
  margin: 10px 0;
  color: white;
}

.page-builder-app .react-grid-item {
  cursor: move;
  /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.page-builder-app .react-grid-item:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.component-header .bp5-button {
  cursor: pointer !important;
  color: white !important;
}

.react-grid-item.react-grid-placeholder {
  pointer-events: none;
}

.spacing-category {
  display: flex;
}


.spacing-category .category {
  margin: 0px 20px 10px 10px;
}

.font-category {
  display: flex;
  flex-direction: column;
}

.font-category .category {
  margin: 0px 20px 10px 10px;
}

.border-category {
  display: flex;
  flex-direction: column;
}

.border-category .category {
  margin: 0px 20px 10px 10px;
}

.color-category {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}

.color-category .category {
  margin: 0px 0px 10px 10px;
}

.size-category .category {
  margin: 0px 20px 10px 10px;
}

.component-settings .bp5-tab {
  color: white !important;
}

.mdxeditor-toolbar {
  display: flex;
  flex-wrap: wrap;
  color: white !important;

}

.component:hover {
  border: 1px solid red;
}

.droppable-element {
  contain: content;
}

.page-builder-app iframe {
  pointer-events: none;
}


.react-grid-layout {
  min-height: 94vh !important;
}

/* styles.css */

.page-builder-header-topbar {
  position: fixed;
  left: 0;
  right: 0;
  top: 50px;
  background-color: rgb(28, 33, 39) !important;
  z-index: 1000;
  height: 37px;
}


.page-builder-header {
  display: flex;
  justify-content: space-between;
}

.page-settings,
.page-toolbox {
  position: fixed;
  top: 79px;
  left: 0;
  right: 0;
  background-color: rgb(28, 33, 39) !important;
  z-index: 1001;
  display: flex;
  flex-direction: column;
}

.page-drag-elements {
  display: flex;
}

.page-settings .bp5-collapse-body,
.page-toolbox .bp5-collapse-body {
  margin: 0 20px;
}

.page-toolbox .bp5-collapse-body {
  padding-top: 30px;
}

.page-toolbox {
  display: flex;
  flex-wrap: wrap;
}

.page-toolbox>* {
  margin: 5px;
}

/* }
.category,
.title,
.footer {
	position: -webkit-sticky;
	position: sticky;
	height: 50px;
}

.title {
	top: 0;
	font: 50px/60px "Crimson Text";
	color: #fdef67;
	text-shadow: 2px 2px 0 #f83d23;
	background-color: dodgerblue;
	margin: 0;
} */

.header-nav {
  position: fixed !important;
}

.user-page-container {
  margin-top: 50px;
}

.user-list-container {
  min-height: 88vh;
}

.user-list .card {
  width: 150px;
  margin-bottom: 10px;
  padding: 10px;
  cursor: pointer;
}

.user-list .card .card-info {
  font-size: 12px;
}

.user-list .card:hover {
  border: 1px solid white;
}

.fields-container .fields-list {
  max-height: 220px
}

.variations-container .variations-list {
  max-height: 250px;
}

.fields-container .fields-list,
.variations-container .variations-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  border: 1px solid white;
  border-radius: 5px;
}

.fields-container .fields-list .field {
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
}

.fields-container .bp5-form-group {
  margin: 0 !important;
}

.fields-container .fields-list-headers {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

/* .fields-container .fields-list-headers .name-column,
.fields-container .fields-list-headers .type-column,
.fields-container .fields-list-headers .value-column {
  padding-right: 10px;
} */

.fields-container .fields-list-headers .trash-column {
  opacity: 0;
}

.fields-container .fields-list .bp5-form-content {
  display: flex;
  justify-content: center;
}

.fields-container .fields-list .field:nth-child(even) {
  background-color: #1c2026;
  color: #fff;
}

.fields-container .fields-list .field:nth-child(odd) {
  background-color: #13171c;
}

.fields-container .fields-list-headers .bp5-label {
  display: flex;
  justify-content: center;
}

.fields-container .name-column,
.fields-container .type-column,
.fields-container .variant-column,
.fields-container .value-column {
  width: 20%;
}

.fields-container .trash-column {
  margin-right: 10px;
}

.variations-container {
  margin-top: 10px;
  display: flex;
}

.variations-container .bp5-divider {
  height: 280px;
  margin: 20px 56px;
}

.variations-list-container {
  flex-grow: 1;
}

.variations-container .variations-list .variation {
  display: flex;
  justify-content: space-between;
}

.variations-container .variations-list .form-component {
  margin: 0;
  width: 100%;
  max-height: 180px;
  height: 100%;
  flex-wrap: wrap;
}

.variations-container .variations-list .bp5-card {
  padding: 10px;
}

.variations-container .variations-list .variation:nth-child(even) {
  background-color: #1c2026 !important;
  color: #fff;
}

.variations-container .variations-list .variation .delete-button {
  margin-right: -10px;
  margin-top: -10px;
}

.variations-container .variations-list .variation:nth-child(odd) {
  background-color: #13171c !important;
}

.variations-container .container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fields-container .container-header {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.fields-container h3,
.variation-container h3 {
  margin: 0px;
}

.product-form-container .action-buttons {
  display: flex;
  justify-content: end;
}

.form-component .bp5-label {
  margin-bottom: 0px !important;
  display: flex;
}

.bp5-numeric-input .bp5-button {
  background-color: rgba(89, 96, 105, 0.15) !important;
  color: white !important;
  right: 7px;
}


.product-panel-stack {
  position: unset !important;
}

.product-panel-stack .bp5-panel-stack-view {
  background-color: #1C2127;
  padding: 0px 30px 30px 30px;
  z-index: 2;
}


.product-form-container .product-form-info {
  display: flex;
  flex-direction: column;
}

.product-form-container .product-form-header {
  display: flex;
  height: 400px;
}

.product-panel-stack .product-form-container .product-info-container {
  flex-grow: 1;
}

.product-form-container .variation-image {
  height: 168px;
  width: 170px;
}

.product-form-container .variation-image .carousel-root {
  height: 160px;
  width: 139px
}

.product-panel-stack .product-form-container .product-image {
  height: 400px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-panel-stack .product-form-container .product-image .carousel-root {
  height: 350px;
  width: 300px;
}

.product-panel-list .product-list {
  max-height: 550px;
  display: flex;
  flex-direction: column;
  flex-wrap: unset;
  margin: 0px;
  border: 1px solid white;
}

.product-panel-list .bp5-button {
  background-color: #30404D !important;
}

.product-panel-list .product-list .product-card {
  width: 100%;
  overflow-y: unset;
  display: flex;
  padding: 5px;
  height: 255px;
}

.product-panel-list .product-card .product-info {
  flex-grow: 1;
}

.product-panel-list .product-card .product-image {
  display: flex;
  height: 250px;
  width: 200px;
  flex-direction: column;
  justify-content: center;
}

.carousel-root {
  height: 250px;
  width: 200px;
}

.product-panel-list .product-list .product-card .view-button {
  align-self: end;
  overflow-y: hidden;
  width: 100px;
  height: 100%;
  display: flex;
  justify-content: end;
}

.product-panel-list .product-list .product-card .form-component {
  margin: 0px 0px 0px 10px;
  overflow-y: scroll;
}

.product-panel-list .product-list .product-card:nth-child(even) {
  background-color: #1c2026 !important;
  color: #fff;
}

/* .variations-container .variations-list .variation .delete-button {
    margin-right: -10px;
    margin-top: -10px;
  } */
.product-panel-list .product-list .product-card:nth-child(odd) {
  background-color: #13171c !important;
}

.product-panel-list .product-list .product-card .form-component h2 {
  margin: 2px 0px;
}

.ecommerce-section {
  padding: 0px !important;
}

.ecommerce-section h3 {
  margin: 5px 0px;
}

/* .secondary-hero {
  background-size: contain !important;
} */

.card-image {
  background-size: cover;
  background-position: center;
}

.user-preview {
  display: flex;
}

.user-preview .user-preview-info {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  border-left: 1px solid gray;
  padding-left: 20px;
}

.user-preview .user-preview-username-container {
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: bold;
}

.user-preview .demo-app {
  max-width: 500px !important;
}

.user-preview .user-preview-description-container {
  font-size: 12px;
  margin-top: 5px;
}

.user-preview .carousel-root {
  height: 200px;
}

.user-preview .user-preview-tabs-container {
  padding-left: 20px;
  margin-left: 20px;
  border-left: 1px solid gray;
  flex-grow: 1;
}

.user-preview .bp5-tab {
  color: white;
}

/* Default styles for desktop */
.desktop-menu {
  display: flex !important;
  /* Assuming desktop menu is initially visible */
}

.mobile-menu {
  display: none !important;
  /* Assuming mobile menu is initially hidden */
}

/* Media query for screens with width 900 pixels or less */
@media (max-width: 1000px) {
  .desktop-menu {
    display: none !important;
    /* Hide desktop menu when screen width is 900px or less */
  }

  .mobile-menu {
    display: flex !important;
    /* Show mobile menu when screen width is 900px or less */
  }
}

.mobile-menu.bp5-drawer,
.mobile-menu.bp5-drawer .bp5-heading {
  background-color: #050315 !important;
}

.mobile-menu.bp5-drawer .menu-container .bp5-menu {
  flex-direction: column;
  width: 100%;
}

.mobile-menu.bp5-drawer .bp5-button {
  justify-content: start;
}

.mobile-menu.bp5-drawer .mobile-header-collapse-menu,
.mobile-menu.bp5-drawer .mobile-header-collapse-menu .bp5-heading {
  background-color: #1c2026 !important;
}

.menu-container .bp5-button-group {
  display: flex;
}

#webpack-dev-server-client-overlay {
  display: none;
}

.bp5-popover-transition-container,
.bp5-overlay-content {
  z-index: 1004 !important;
}

.chat-component {
  width: 638px;
  height: 400px;
  /* position: fixed;
  z-index: 10005;
  bottom: 60px;
  right: 115px; */
}

.chat-button.bp5-button {
  position: fixed;
  z-index: 1005;
  bottom: 25px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: #050315 !important;
  border-radius: 50%;
  border: 2px solid white;
  color: white;
}

.chat-component .cs-message-list {
  padding-top: 10px;
  background-color: #050315 !important;
}

.chat-component .cs-message-input {
  background-color: #050315 !important;
}

.chat-component .cs-message-input__content-editor-wrapper,
.chat-component .cs-message-input__content-editor {
  background-color: #5f6b7c;
  color: white;
}

.chat-component .cs-message-input__content-editor {
  display: flex;
  color: white;
  line-height: 26px;
  font-size: 13px;
  text-align: center;
}

.cs-message-input__content-editor[data-placeholder]:empty::before {
  color: white !important;
}

.chat-component-container .bp5-popover-target {
  bottom: 50px !important;
  /* right: 70px !important; */
  position: fixed !important;
}

.chat-component-container .bp5-popover-content {
  margin-top: -84px;
  text-align: left;
  margin-left: -33px;
}

.cs-sidebar .cs-conversation-list div {
  color: white !important;
  background-color: #1C2127 !important;
}

.cs-sidebar .cs-conversation-header,
.cs-sidebar .cs-conversation-header div {
  color: white;
  border: 0px;
  background-color: #050315 !important;
}

.cs-sidebar .cs-conversation:not(.cs-conversation--active) {
  opacity: 0.5;
}

.cs-sidebar .cs-conversation:hover {
  opacity: 1;
}

.cs-chat-container .cs-conversation-header,
.cs-chat-container .cs-conversation-header div {
  color: white;
  background-color: #1C2127 !important;
}
.post-preview {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.post-preview-content-container {
  width: 100%;
  flex-grow: 1;
}

.post-preview-content {
  scale: .5;
  margin-left: -37px;
  margin-top: -63px;
  text-align: left;
  contain: content;
  width: 100%;
  display: block;
  max-height: 235px;
  width: 200px;
  height: 231px;
  overflow: hidden;
}

.chonky-fileListWrapper {
  padding: 20px;
  min-height: 400px !important;
}

/* .chonky-gridContainer > div > div {
  width: 75px !important;
  padding: 0px !important;
} */

/* .chonky-gridContainer > div > div {
  margin-left: calc(100px*counter(file-counter)*-1);
  counter-increment: file-counter;
} */

/* div[class*='previewFile-'] {
  height: 75px !important;
  width: 75px !important;
  flex-grow: unset;
} */

div[class*='folderFrontSide-'] {
  margin-bottom: 14px;
}

div[class*='folderBackSideMid-'] {
  height: 88px;
  border-radius: 5px;
}

div[class*='gridFileEntry-'] {
  height: 135px;
}

div[class*='gridFileEntryPreview'] {
  height: 100px !important;
  flex-grow: unset;
  opacity: .5;
  border: 4px solid white;
}


div[class*='gridFileEntryNameContainer-'] {
  padding: 0px;
  height: 35px;
  overflow: hidden;
  margin-bottom: 12px;
}

.chonky-toolbarWrapper {
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
  padding-top: 10px;
}

.file-manager .file-drop {
  height: 0px;
}

.file-manager .file-drop-target {
  top: 100px !important;
  left: 0 !important;
  position: absolute !important;
  height: 410px !important;
  opacity: 0 !important;
}

.App {
  font-family: sans-serif;
  text-align: center;
  color: black;
}

.app-site-builder {
  color: black;
}
.react-grid-layout {
  transition: height 200ms ease;
  color: black;
  background-color: rgb(28, 33, 39) !important;
}

/* .grid-layout-container {
  height: 90%;
  overflow-y: scroll;
  overflow-x: hidden;
} */
.react-grid-item {
  transition: all 200ms ease;
  transition-property: left, top;
}
.react-grid-item img {
  pointer-events: none;
  user-select: none;
  width: 100%;
  height: 100%;
}
.react-grid-item.cssTransforms {
  transition-property: transform;
}
.react-grid-item.resizing {
  z-index: 1;
  will-change: width, height;
}

.react-grid-item.react-draggable-dragging {
  transition: none;
  z-index: 3;
  will-change: transform;
}

.react-grid-item.dropping {
  visibility: hidden;
}

.react-grid-item.react-grid-placeholder {
  background: red;
  opacity: 0.2;
  transition-duration: 100ms;
  z-index: 2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.react-grid-item > .react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
}

.react-grid-item > .react-resizable-handle::after {
  content: "";
  position: absolute;
  right: 3px;
  bottom: 3px;
  width: 8px;
  height: 8px;
  border-right: 2px solid rgba(244, 244, 244);
  border-bottom: 2px solid rgb(244, 244, 244);
}

.react-resizable-hide > .react-resizable-handle {
  display: none;
}

.react-grid-item > .react-resizable-handle.react-resizable-handle-sw {
  bottom: 0;
  left: 0;
  cursor: sw-resize;
  transform: rotate(90deg);
}
.react-grid-item > .react-resizable-handle.react-resizable-handle-se {
  bottom: 0;
  right: 0;
  cursor: se-resize;
}
.react-grid-item > .react-resizable-handle.react-resizable-handle-nw {
  top: 0;
  left: 0;
  cursor: nw-resize;
  transform: rotate(180deg);
}
.react-grid-item > .react-resizable-handle.react-resizable-handle-ne {
  top: 0;
  right: 0;
  cursor: ne-resize;
  transform: rotate(270deg);
}
.react-grid-item > .react-resizable-handle.react-resizable-handle-w,
.react-grid-item > .react-resizable-handle.react-resizable-handle-e {
  top: 50%;
  margin-top: -10px;
  cursor: ew-resize;
}
.react-grid-item > .react-resizable-handle.react-resizable-handle-w {
  left: 0;
  transform: rotate(135deg);
}
.react-grid-item > .react-resizable-handle.react-resizable-handle-e {
  right: 0;
  transform: rotate(315deg);
}
.react-grid-item > .react-resizable-handle.react-resizable-handle-n,
.react-grid-item > .react-resizable-handle.react-resizable-handle-s {
  left: 50%;
  margin-left: -10px;
  cursor: ns-resize;
}
.react-grid-item > .react-resizable-handle.react-resizable-handle-n {
  top: 0;
  transform: rotate(225deg);
}
.react-grid-item > .react-resizable-handle.react-resizable-handle-s {
  bottom: 0;
  transform: rotate(45deg);
}

#content {
  width: 100%;
}

.grid .react-grid-layout {
  background-image: linear-gradient(to right, rgba(217, 226, 233, .2) 1px, transparent 1px), linear-gradient(rgb(217, 226, 233, .2) 1px, transparent 1px);
  background-size: 20px 20px;
  background-color: rgb(237, 242, 246);
}
.layoutJSON {
  background: #ddd;
  border: 1px solid black;
  margin-top: 10px;
  padding: 10px;
}
.columns {
  -moz-columns: 120px;
  -webkit-columns: 120px;
  columns: 120px;
}
.react-grid-item {
  box-sizing: border-box;
}

.react-grid-item.resizing {
  opacity: 0.9;
}
.react-grid-item.static {
  background: #cce;
}
.react-grid-item .text {
  text-align: left;
  height: 100%;
}
.react-grid-item .minMax {
  font-size: 12px;
}
.react-grid-item .add {
  cursor: pointer;
}
.react-grid-dragHandleExample {
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.toolbox {
  background-color: #dfd;
  width: 100%;
  height: 120px;
  overflow: scroll;
}

.hide-button {
  cursor: pointer;
  position: absolute;
  font-size: 20px;
  top: 0px;
  right: 5px;
}

.toolbox__title {
  font-size: 24px;
  margin-bottom: 5px;
}
.toolbox__items {
  display: block;
}
.toolbox__items__item {
  display: inline-block;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  padding: 10px;
  margin: 5px;
  border: 1px solid black;
  background-color: #ddd;
}

.remove {
  position: absolute;
  right: 2px;
  top: 0;
  cursor: pointer;
}

.remove .cogs-icon {
  visibility: hidden;
}

.remove:hover .cogs-icon {
  visibility: visible;
}

.bp5-popover-content {
  background-color: darkslategray;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
}

.app-site-builder {
  width: 98%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}


.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bp5-popover .bp5-popover-content {
  color: white;
  border: 1px solid white;
  border-radius: 5px;
}

.bp5-popover .bp5-button {
  color: white !important;
  background-color: green;
  border-radius: 5px;
  border: 1px solid transparent;
}

.bp5-popover .bp5-button:hover {
  border: 1px solid white;
}

.bp5-popover span.bp5-popover-target {
  margin: 5px;
}

.custom-popup .bp5-overlay-content {
  top: 45%;
  left: 45%;
}

/* Write CSS Here */
.custom { 
  max-width: 180px; 
  flex: 1 1 auto; 
  overflow-x: scroll; 
  overflow-y: hidden; 
  position: relative; 
}

.custom .menu-item {
  height: 50px;
}

.not-draggable {
  pointer-events: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;

  /*
    Introduced in IE 10.
    See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
  */
  -ms-user-select: none;
  user-select: none;
}

.popover {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;

  /*
    Introduced in IE 10.
    See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
  */
  -ms-user-select: none;
  user-select: none;
}

.page-builder-page-selection .bp5-button, 
.page-builder-page-selection .bp5-menu {
  background-color: #30404D !important;
}
.sideBar {
  flex: 0 0 1;
  width: 250px;
  padding: 10px;
  border-right: 1px solid #111;
  height: 100%;
  color: white;
  background-color: #2F343C !important;
  min-height: 600px;
  display: flex;
  flex-direction: column;
}

.sideBarItem {
  border-radius: 3px;
  height: 30px;
  padding: 10px;
  margin-top: 10px;
  background-color: #404854;
  border: 1px solid gray;
}

.page-editor {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.page-editor-area {
  display: flex;
}

.page-editor .top-bar {
  padding: 10px;
  border: 1px solid gray;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-editor .page-info {
  display: flex;
}

.page-editor .page-info .bp5-form-group {
  margin: 0 5px;
}

.page-editor .top-bar .bp5-button-group {
  height: 30px;
}

.page-editor .top-bar .save-button {
  background-color: green;
}
.page-editor .top-bar svg {
  color: white;
}
.page-editor .top-bar .revert-button {
  background-color: red;
}

.page-editor .top-bar .revert-button:disabled,
.page-editor .top-bar .save-button:disabled {
  background-color: gray;
}

.dropZone {
  flex: 0 0 auto;
  height: 40px;
  transition: 200ms all;
}

/* .dropZone:nth-of-type(2n) {
  display: none;
} */

.dropZone.horizontalDrag {
  width: 40px;
  height: auto;
}

.dropZone:not(.horizontalDrag).isLast {
  flex: 1 1 auto;
}

.dropZone.active,
.trashDropZone.active {
  background: #00a2ff;
  transition: 100ms all;
}


.columns {
  display: flex;
}

.columnContainer {
  display: flex;
}


.trashDropZone {
  position: relative;
  text-align: center;
  padding: 20px 0;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  border: 1px solid purple;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pageContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  overflow-y: scroll;
  min-height: 600px;
  max-height: 600px;
}

.page-menu {
  display: flex;
  justify-content: end;
}

.page-menu .bp5-menu {
  background-color: #404854;
  color: white !important;
}
.page-menu .bp5-button {
  background-color: #2F343C !important;
}

.page-menu .bp5-button span {
  color: white !important;
}
.pageContainer {
  position: relative;
}

.editor-tree .bp5-tree {
  max-height: 130px;
  background-color: #404854;
  overflow-y: scroll;
}
.dropZone.horizontalDrag {
  width:5px;
}

.dropZone.horizontalDrag.active {
  width: 30px;
}

.dropZone.verticalDrag {
  height:5px;
}

.dropZone.verticalDrag.active {
  height: 30px;
}

.page {
  padding: 0px;
}

.base {
  padding: 0px;
}

/* .component {
  border-width: 1px;
  border-style: dashed;
  border-color: black;
  background-color: grey;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  cursor: "move";
  height: 60px;
  width: 100%;
} */


/* .page {
  flex: 1 1 auto;
  border-width: 2px;
  border-style: solid;
  border-color: green;
  background-color: rgb(237, 242, 246);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background-image: linear-gradient(to right, rgb(217, 226, 233) 1px, transparent 1px), linear-gradient(rgb(217, 226, 233) 1px, transparent 1px);
  background-size: 20px 20px;
} */


.previewed {
  border: 3px solid blue !important;
}

.hide-grid {
  background-image: unset !important;
}

.show-drop-color {
  border: 1px dashed black;
  background-color: blue;
  opacity: .2;
}

.hide-dragdrop {
  display: none;
}

.col {
  display: flex;
  flex-grow: 1;
}

.col .card {
  margin: 0px;
}

.prose {
  color: white !important;
  overflow-y: scroll;
}

.popup-top-bar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.component .component-header {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.component .component-header .bp5-icon {
  color: white !important;
}


.component .component-header .bp5-button {
  padding: 1px !important;
  /* border: 2px solid white; */
  border-radius: 50%;
}

/* .component .component-header .cog-button {
  background-color: #404854 !important;
} */

/* .component .component-header .delete-button {
  background-color: #b62621 !important;
} */
.component .component-header {
  display: flex;
  position: absolute;
  justify-content: space-between;
  width: 100%;
}

.component:hover .component-header {
  opacity: 1;
  visibility: visible;
}

.component-header {
  z-index: 50;
}

.component iframe {
  pointer-events: 'none'
}

.file-manager-container {
  display: flex;
  width: 100%;
  height: 100%;
  color: #F5F8FA;
  flex-direction: column;
}

.file-manager {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.file-manager-title {
  padding: 10px;
  width: 100%;
  background: transparent;
}

.tool-bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  background-color: #182026;
  border-bottom: 1px solid #30404D;
}

.tool-bar button {
  padding: 6px 10px;
  margin-right: 5px;
  background-color: #106BA3;
  color: #F5F8FA;
  border: none;
}

.sidebar {
  width: 200px;
  padding: 10px;
  background-color: #182026;
  min-height: 200px;
  border: 1px solid gray;
  background-color:  #29343c;
}

.main-content {
  flex: 1;
  padding: 20px;
  background-color: #30404D;
}

.sidebar .bp3-tree {
  height: 100%;
}

/* Customizing to achieve a dark-themed Windows-like appearance */
.file-manager-container {
  font-family: Arial, sans-serif;
}

.file-manager-title h4 {
  margin: 0;
  font-size: 20px;
  color: #F5F8FA;
}

.tool-bar button {
  cursor: pointer;
  background-color: #30404D !important;
}

.tree-node-content {
  display: flex;
  align-items: center;
}

.tree-node-label {
  margin-left: 5px;
}

.tree-node-label:hover {
  color: #F5F8FA;
}

.bp3-tree-node-selected .tree-node-label {
  color: #F5F8FA;
  font-weight: bold;
}

.file-manager-window-container {
  height: 100%;
  display: flex;
}

.file-manager-window {
  width: 100%;
  margin-left: 20px;
  margin-top: 10px;
  border: 1px solid white;
  border-radius: 5px;
}

.main-content {
  display: flex;
  flex-wrap: wrap;
}

.file,
.folder {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.file {
  margin-right: -30px;
  
}

.file-name {
  text-align: center;
  margin-top: 7px;
}

.folder-name {
  text-align: center;
}

.upload-progress-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upload-progress {
  display: flex;
  flex-direction: column;
  width: 200px;
  align-items: center;
  color: white;
  padding: 5px;
  border-bottom: 1px solid gray;
}

.file-uploader-browse-button {
  display: none;
}

.video-file {
  height: 180px;
  width: 180px;
  contain: content;
}

.video-file div {
  height: 80% !important;
  width: 80% !important;
  contain: content;
}

.bp5-breadcrumbs {
  margin-left: 20px;
}

.bp5-breadcrumb {
  font-size: 14px !important;
  display: flex;
  align-content: flex-end;
}

.sidebar-home {
  display: flex;
  vertical-align:center;
  margin-bottom: 3px;
  border-bottom: 1px solid white;
  padding-bottom: 3px;
}

.sidebar-home span {
  margin-right: 5px;
}

/* Demo.css */

.file-drop {
  /* relatively position the container bc the contents are absolute */
  position: relative;
  height: 100px;
  width: 100%;
}

.file-drop > .file-drop-target {
  /* basic styles */
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 2px;
  border-bottom: 2px solid #9db1b9;

  background-color: #9db1b970;

  /* horizontally and vertically center all content */
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;

  flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;

  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;

  justify-content: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;

  align-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;

  text-align: center;
}

.file-drop > .file-drop-target.file-drop-dragging-over-frame {
  /* overlay a black mask when dragging over the frame */
  border: none;
  background-color: rgba(0, 0, 0, 0.65);
  box-shadow: none;
  z-index: 50;
  opacity: 1;

  /* typography */
  color: white;
}

.file-drop > .file-drop-target.file-drop-dragging-over-target {
  /* turn stuff orange when we are dragging over the target */
  color: #ff6e40;
  box-shadow: 0 0 13px 3px #ff6e40;
}

.file-manager-toolbox-container {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: start;
  flex-direction: row;
  align-items: center;
}

.file-uploader-dropbox-title {
  color: white;
  width: 100%;
  height: 25px;
}

.file-manager-plus-button-container {
  display: flex;
  justify-content: center;
}
.file-uploader-dropbox-title span{
  font-weight: bold;
}
.file-drop{
  color: white;
  cursor: pointer;
}

.file-drop:hover {
  color: #9db1b9;
  transition: 0.2s;
}

.file-drop-target:hover {
  border-color: white !important;
}

.file-manager-files-container {
  height: 100%;
  min-height: 600px;
  width: 100%;
  border-radius: 2px;
  border: 2px solid #9db1b9;
  background-color: #9db1b970;
}

.user-window-1-button {
  right: 20px !important;
}

.user-window-2-button {
  right: 340px !important;
}

.user-window-3-button {
  right: 660px !important; 
}

.user-window-4-button {
  right: 980px !important;
}

.user-window-1-popover {
  right: 70px !important;
}

.user-window-2-popover {
  right: 380px !important;
}

.user-window-3-popover {
  right: 690px !important; 
}

.user-window-4-popover {
  right: 1030px !important;
}

.bp5-popover .bp5-popover-target {
  margin: 0px !important;
  background-color: #106BA3;
  color: #F5F8FA;
}

.bp5-popover .bp5-popover-target .bp5-button {
  width: 100%;
}

.chat-user-selection {
  height: 150px;
  overflow-y: scroll;
}
/* 
.user-window-1-popover {
  display: none !important;
}

.user-window-1-popover.bp5-popover-open {
  display: block !important;
} */


.page-drag-elements {
  transition: height 0.3s ease !important; /* Add a smooth transition effect */
  overflow: hidden; /* Hide the content initially */
  height: 10px !important;
}

.page-toolbox:hover .page-drag-elements {
  height: 150px !important; /* Adjust the height as needed */
}

.page-grid-container .grid-layout-container {
  top: 50px;
}

.product-panel-list .product-list {
  overflow-y: scroll;
}

.menu-item-selected {
  background-color: rgba(143, 153, 168, 0.15);
}

.fields-list .field {
  padding-left: 10px !important;
}

.user-list,
.product-list {
  display: flex;
  flex-direction: row;
  max-width: 1010px;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-around;
}

.chonky-chonkyRoot {
  width: 100%;
}

.mobile-menu .menu-container>div>.bp5-menu {
  flex-direction: column-reverse !important;
}
